<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
    <link rel="stylesheet" href="/static/css/estilo.css">
</head>
<body>
    <h2>Tabela Clientes</h2>

    <table border="1px">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CEP</th>
            <th>Telefone</th>
        </tr>
        <% for(var i = 0; i<lista.length; i++) {%>
        <tr>
            <td><%=lista[i].id%></td>
            <td><%=lista[i].nome%></td>
            <td><%=lista[i].cidade%></td>
            <td><%=lista[i].estado%></td>
            <td><%=lista[i].cep%></td>
            <td><%=lista[i].telefone%></td>
        </tr>
        <% } %>
    </table>
</body>
</html>